{
  "root": true,
  "extends": [
    "plugin:vue/vue3-recommended",
    "plugin:vuejs-accessibility/recommended",
    "eslint:recommended",
    "@vue/eslint-config-typescript",
    "@vue/eslint-config-prettier/skip-formatting"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "prettier/prettier": "warn",
    "vuejs-accessibility/label-has-for": [
      "error",
      {
        "controlComponents": ["SliderRoot"],
        "required": { "some": ["nesting"] },
        "allowChildren": true
      }
    ]
  }
}
