{
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    },
    {
      "files": "*.!(css)",
      "options": {
        "plugins": [
          "@ianvs/prettier-plugin-sort-imports",
          "prettier-plugin-jsdoc"
        ],
        "importOrder": [
          "<TYPES>^vue",
          "<TYPES>^[^~/.]",
          "<TYPES>^~/",
          "<TYPES>^/",
          "<TYPES>^./",
          "<TYPES>^../",
          "<TYPES>",
          "^vue",
          "^[^~/.]",
          "^~/",
          "^/",
          "^./",
          "^../"
        ],
        "importOrderParserPlugins": ["typescript", "importAssertions"],
        "htmlWhitespaceSensitivity": "strict",
        "jsdocCapitalizeDescription": false
      }
    }
  ]
}
