volumes:
  pgdata:
  built_frontend:
  certbot:

services:
  frontend:
    image: cocancerscope-frontend
    build: ./frontend
    command: "/bin/bash -c 'yarn build ; cp -R ./dist/* /app/build/'"
    volumes:
      - built_frontend:/app/build/
    environment:
      - "VITE_API=https://co-cancer-scope.cu-dbmi.dev/api"

  nginx-certbot:
    # image: nginx:1.19.6-alpine
    build: ./services/nginx-certbot/
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - .env
    volumes:
      - built_frontend:/usr/share/nginx/html
      - certbot:/etc/letsencrypt/
      - ./services/nginx-certbot/config/templates/:/etc/nginx/templates/
    depends_on:
      - backend
