:root {
  /* recommendations: */
  /* https://tailwindcss.com/docs/customizing-colors */
  /* https://coolors.co/palettes/trending */
  /* https://www.materialpalette.com/colors */

  /* colors */
  --theme: #cfb87c;
  --theme-dark: #a87800;
  --white: #ffffff;
  --off-white: #fafafa;
  --light-gray: #e6e6e6;
  --gray: #cccccc;
  --dark-gray: #4d4d4d;
  --off-black: #1a1a1a;
  --black: #000000;

  /* font weights */
  --regular: 300;
  --bold: 600;

  /* effects */
  --rounded: 3px;
  --fast: 0.25s ease;
  --shadow: 0 0 10px #00000020, 1px 2px 5px #00000020;
  --spacing: 2;
  --compact: 1.5;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--white);
  color: var(--black);
  font-weight: var(--regular);
  font-size: 13pt;
  line-height: var(--compact);
  font-family: "Roboto Flex", sans-serif;
  text-underline-offset: 2px;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

header,
footer {
  background: var(--theme);
  box-shadow: var(--shadow);
}

:is(header, footer) a {
  color: inherit;
  text-decoration: none;
}

section.full {
  --col: 10000px;
}

section {
  --col: 1000px;
  padding: 60px max(calc((100% - var(--col)) / 2), 40px);
}

section:last-child {
  flex-grow: 1;
}

section:nth-child(even) {
  background: var(--off-white);
}

section > :first-child {
  margin-top: 0 !important;
}

section > :last-child {
  margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4 {
  margin: 40px 0 20px 0;
  color: var(--off-black);
  font-weight: var(--bold);
}

h1 {
  margin: 0;
  font-size: 1.3rem;
}

h2 {
  margin: 60px 0 30px 0;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.1rem;
}

a {
  color: var(--theme-dark);
  transition:
    color var(--fast),
    background var(--fast);
}

a:hover {
  color: var(--off-black);
}

b,
strong,
th {
  font-weight: var(--bold);
}

hr {
  flex-shrink: 0;
  width: 100%;
  height: 1px;
  margin: 20px 0;
  border: none;
  background: var(--gray);
}

small {
  font-size: 0.9em;
}

p {
  line-height: var(--spacing);
  text-align: justify;
}

strong {
  font-weight: var(--bold);
}

label,
input {
  min-width: 0;
}

a,
p,
button {
  overflow-wrap: anywhere;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 5px 10px;
  border-bottom: solid 1px var(--gray);
  text-align: left;
}

.center {
  text-align: center;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px 20px;
}

.truncate:not(:focus) {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mini-table {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 5px 15px;
}

.mini-table > :nth-child(odd) {
  font-weight: var(--bold);
}

.mini-table:empty::before {
  content: "No Info";
}

.tippy-box {
  padding: 5px;
  background: var(--off-black);
  box-shadow: var(--shadow);
  color: var(--white);
  font: inherit;
}

.tippy-arrow {
  color: var(--off-black);
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}
