@import "tailwindcss";

@theme {
  --breakpoint-sm: 30rem;
  --breakpoint-md: 55rem;
  --breakpoint-lg: 70rem;

  --color-*: initial;

  /* https://www.colorado.edu/imc/cu-boulder-brand/visual-identity */

  --color-black: #000000;
  --color-dark-gray: #565a5c;
  --color-gray: #8f8d8a;
  --color-light-gray: #d8d5d0;
  --color-pale: #eef5f8;
  --color-white: #ffffff;

  --color-dark-gold: #8d7334;
  --color-gold: #cfb87c;
  --color-light-gold: #e8d5a8;
  --color-pale-gold: #f3f0e9;

  --color-success: #096fae;

  --radius-*: initial;
  --radius-md: 8px;

  --shadow-*: initial;
  --shadow-md: 0px 2px 10px #00000020, 0 0 4px #00000020;

  --font-sans: "Inter Variable", sans-serif;
}

@layer base {
  html {
    @apply bg-white font-sans leading-normal font-normal text-black underline-offset-2;
  }

  body {
    @apply flex min-h-dvh flex-col;
  }

  #app {
    @apply contents;
  }

  main {
    @apply flex grow flex-col;
  }

  header,
  footer {
    @apply border-gold bg-black text-white;
  }

  section {
    --content: 300;
    @apply flex flex-col gap-8 px-[max(--spacing(12),(100%-(--spacing(1))*var(--content))/2)] py-12;
  }

  section:nth-child(odd) {
    @apply bg-pale-gold;
  }

  h1 {
    @apply text-3xl uppercase;
  }

  h2 {
    @apply text-2xl uppercase;
  }

  h3 {
    @apply text-xl uppercase;
  }

  h4 {
    @apply text-lg uppercase;
  }

  a {
    @apply text-dark-gold underline transition hover:text-current;
  }

  header a,
  footer a {
    @apply rounded-md p-2 text-white no-underline trim hover:bg-white/25 hover:text-light-gold;
  }

  p {
    @apply leading-loose trim;
  }

  svg {
    @apply shrink-0;
  }

  blockquote {
    @apply rounded-r-md border-l-4 bg-light-gold p-2 pl-4 leading-loose;
  }

  button {
    @apply inline-flex cursor-pointer items-center justify-center transition;
  }

  input {
    @apply min-w-0 transition;
  }

  table {
    @apply border-collapse;
  }

  th,
  td {
    @apply p-2 text-left;
  }

  thead tr {
    @apply bg-gold!;
  }

  tbody tr {
    @apply odd:bg-white even:bg-pale-gold;
  }

  dl {
    @apply grid grid-cols-[auto_1fr] items-center gap-x-4 gap-y-2 *:min-w-0 *:wrap-break-word [&_a]:wrap-anywhere;
  }

  dt {
    @apply text-dark-gray;
  }

  dd {
    @apply font-medium;
  }

  .lucide {
    @apply h-[1.25em] w-[unset] shrink-0;
  }

  [disabled] {
    @apply cursor-not-allowed opacity-50 grayscale;
  }
}

@utility trim {
  text-box: trim-both text;
}

@utility table-wrapper {
  @apply overflow-x-auto;
}

@utility text-stroke-* {
  -webkit-text-stroke-width: calc(--value(number) * 2px);
  -webkit-text-stroke-color: --value(--color-*);
  paint-order: stroke;
}

@utility scrollable {
  @apply relative;

  mask-image:
    linear-gradient(
      to right,
      transparent,
      black calc(25% * var(--scrollable-left))
    ),
    linear-gradient(
      to left,
      transparent,
      black calc(25% * var(--scrollable-right))
    ),
    linear-gradient(
      to bottom,
      transparent,
      black calc(25% * var(--scrollable-top))
    ),
    linear-gradient(
      to top,
      transparent,
      black calc(25% * var(--scrollable-bottom))
    );
  mask-composite: intersect;
}

@utility animate-loading {
  @apply pointer-events-none relative grayscale;
  animation: loading 1s linear infinite;

  &::after {
    @apply absolute inset-0 grid place-items-center text-xl uppercase text-stroke-2 text-stroke-white;
    content: "Loading";
  }
}

@keyframes loading {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.2;
  }
}

@utility animate-error {
  @apply pointer-events-none relative;
  animation: error 0.5s linear 3 both;

  &::after {
    @apply absolute inset-0 grid place-items-center text-xl uppercase text-stroke-2 text-stroke-white;
    content: "Error";
  }
}

@keyframes error {
  0%,
  100% {
    filter: contrast(50%) sepia(100%) hue-rotate(-60deg);
  }
  50% {
    filter: contrast(50%) sepia(50%) hue-rotate(-60deg);
  }
}

.tippy-box {
  @apply rounded-md border border-black bg-white p-2 trim;

  .tippy-arrow {
    @apply grid size-0 place-content-center;
  }

  .tippy-arrow::before {
    @apply flex size-3 origin-center border-t border-l bg-white content-[''];
  }

  &[data-placement^="top"] > .tippy-arrow {
    @apply top-full;

    &::before {
      @apply rotate-225;
    }
  }

  &[data-placement^="bottom"] > .tippy-arrow {
    @apply bottom-full;

    &::before {
      @apply rotate-45;
    }
  }

  &[data-placement^="left"] > .tippy-arrow {
    @apply left-full;

    &::before {
      @apply rotate-135;
    }
  }

  &[data-placement^="right"] > .tippy-arrow {
    @apply right-full;

    &::before {
      @apply rotate-315;
    }
  }
}

[data-v-onboarding-wrapper] {
  & > div {
    @apply contents;
  }

  [data-popper-placement] {
    @apply flex max-w-100 flex-col gap-4 rounded-md border bg-white p-4 trim;

    [data-popper-arrow] {
      @apply grid size-0 place-content-center;
    }

    [data-popper-arrow]::before {
      @apply flex size-3 origin-center border-t border-l bg-white content-[''];
    }

    &[data-popper-placement^="top"] > [data-popper-arrow] {
      @apply top-full;

      &::before {
        @apply rotate-225;
      }
    }

    &[data-popper-placement^="bottom"] > [data-popper-arrow] {
      @apply bottom-full;

      &::before {
        @apply rotate-45;
      }
    }

    &[data-popper-placement^="left"] > [data-popper-arrow] {
      @apply left-full;

      &::before {
        @apply rotate-135;
      }
    }

    &[data-popper-placement^="right"] > [data-popper-arrow] {
      @apply right-full;

      &::before {
        @apply rotate-315;
      }
    }
  }
}
