@import "tailwindcss";

@theme {
  --breakpoint-sm: 30rem;
  --breakpoint-md: 55rem;
  --breakpoint-lg: 70rem;

  --color-theme: hsl(43, 46%, 65%);

  --radius-*: initial;
  --radius-md: 8px;

  --shadow-*: initial;
  --shadow-md: 0px 2px 10px #00000040, 0 0 4px #00000020;

  --font-sans: "Inter Variable", sans-serif;

  --animate-loading: loading 1s linear infinite;

  @keyframes loading {
    0%,
    100% {
      opacity: 0.4;
      pointer-events: none;
      filter: saturate(0);
    }
    50% {
      opacity: 0.2;
      pointer-events: none;
      filter: saturate(0);
    }
  }
}

@layer base {
  html {
    @apply bg-white font-sans leading-normal font-normal text-black underline-offset-2;
  }

  body {
    @apply flex min-h-dvh flex-col;
  }

  #app {
    @apply contents;
  }

  main {
    @apply flex grow flex-col;
  }

  header,
  footer {
    @apply bg-theme;
  }

  section {
    --content: 300;
    @apply flex flex-col gap-8 px-[max(--spacing(12),(100%-(--spacing(1))*var(--content))/2)] py-12;
  }

  section:nth-child(odd) {
    @apply bg-stone-50;
  }

  h1 {
    @apply text-3xl uppercase;
  }

  h2 {
    @apply text-2xl uppercase;
  }

  h3 {
    @apply text-xl uppercase;
  }

  h4 {
    @apply text-lg uppercase;
  }

  a {
    @apply text-yellow-800 underline transition hover:text-current;
  }

  header a,
  footer a {
    @apply relative p-1 text-black no-underline;

    &::after {
      @apply absolute right-0 bottom-0 left-0 h-0.5 scale-x-0 bg-current transition content-[''];
    }

    &:hover::after,
    &[data-active="true"]::after {
      @apply scale-x-100;
    }
  }

  p {
    @apply leading-loose;
  }

  svg {
    @apply shrink-0;
  }

  blockquote {
    @apply rounded-r-md border-l-2 bg-stone-100 p-2 pl-4 leading-loose;
  }

  button {
    @apply inline-flex cursor-pointer items-center justify-center transition;
  }

  input {
    @apply transition;
  }

  table {
    @apply border-collapse;
  }

  th,
  td {
    @apply p-2 text-left;
  }

  thead tr {
    @apply bg-theme!;
  }

  tbody tr {
    @apply odd:bg-white even:bg-stone-50;
  }

  dl {
    @apply grid grid-cols-[auto_1fr] items-center gap-x-4 gap-y-2;
  }

  dt {
    @apply text-stone-600;
  }

  dd {
    @apply font-medium;
  }

  .lucide {
    @apply h-[1.25em] shrink-0;
  }

  [disabled] {
    @apply cursor-not-allowed opacity-50 grayscale;
  }
}

@utility table-wrapper {
  @apply overflow-x-auto;
}

@utility text-stroke-* {
  -webkit-text-stroke-width: calc(--value(number) * 2px);
  -webkit-text-stroke-color: --value(--color-*);
  paint-order: stroke;
}

.tippy-box {
  @apply rounded-md bg-stone-600 p-1 leading-relaxed! text-white shadow-md shadow-white;
  font: inherit;
}

.tippy-arrow {
  @apply text-stone-600;
}
