:root {
  /* colors */
  --theme-light: hsl(43, 64%, 86%);
  --theme: hsl(43, 46%, 65%);
  --theme-dark: hsl(43, 44%, 29%);
  --white: #ffffff;
  --off-white: #f8f8f8;
  --light-gray: #e8e8e8;
  --gray: #a0a0a0;
  --dark-gray: #434343;
  --off-black: #1a1a1a;
  --black: #000000;
  --accent-a: hsl(200, 35%, 60%);
  --accent-b: hsl(80, 35%, 60%);
  --accent-a-light: hsl(200, 50%, 85%);
  --accent-b-light: hsl(80, 50%, 85%);
  --success: #10b981;
  --error: #f43f5e;

  /* font weights */
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;
  --extra-bold: 800;

  /* effects */
  --rounded: 3px;
  --fast: 0.1s ease-in-out;
  --slow: 0.5s ease-in-out;
  --shadow: 0 0 10px #00000020, 1px 2px 5px #00000020;
  --spacing: 2;
  --compact: 1.3;

  /** sizes */
  --content: 1000px;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--white);
  color: var(--black);
  font-weight: var(--regular);
  font-size: 13pt;
  line-height: var(--compact);
  font-family: "Roboto", sans-serif;
  text-underline-offset: 2px;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

header,
footer {
  background: var(--theme);
  box-shadow: var(--shadow);
}

:is(header, footer) a {
  color: inherit;
  text-decoration: none;
}

section.full {
  --section: 10000px;
}

section.wide {
  --section: 2000px;
}

section {
  --section: 1000px;
  padding: 60px max(calc((100% - var(--section)) / 2), 40px);
}

section:last-child {
  flex-grow: 1;
}

section:nth-child(even) {
  background: var(--off-white);
}

section > :first-child {
  margin-top: 0 !important;
}

section > :last-child {
  margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4 {
  margin: 40px 0;
  color: var(--off-black);
  font-weight: var(--bold);
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin: 60px 0 30px 0;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.1rem;
}

a {
  color: var(--theme-dark);
  transition:
    color var(--fast),
    background var(--fast);
}

a:hover {
  color: currentColor;
}

input {
  padding: 5px 10px;
  border: solid 1px var(--gray);
  border-radius: var(--rounded);
  font: inherit;
}

b,
strong,
th {
  font-weight: var(--bold);
}

hr {
  flex-shrink: 0;
  width: 100%;
  height: 1px;
  margin: 5px 0;
  border: none;
  background: var(--light-gray);
}

small {
  font-size: 0.9em;
}

p {
  text-align: justify;
}

@media (max-width: 500px) {
  p {
    text-align: left;
  }
}

p,
ul,
ol,
table,
blockquote,
pre {
  margin: 0.75lh 0;
  line-height: var(--spacing);
}

strong {
  font-weight: var(--bold);
}

label,
input {
  min-width: 0;
}

a,
p,
button {
  overflow-wrap: break-word;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 5px 10px;
  border-bottom: solid 1px var(--gray);
  text-align: left;
}

tr:last-child td {
  border: none;
}

dt,
dd {
  margin: 0;
}

blockquote {
  padding: 10px 30px;
  border-left: solid 2px var(--light-gray);
  font-style: italic;
}

[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mini-table {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 5px 15px;
}

.mini-table > :nth-child(odd) {
  font-weight: var(--bold);
}

.mini-table > :nth-child(even) {
  overflow-wrap: anywhere;
}

.mini-table:empty {
  display: none;
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  place-content: center;
  place-items: center;
  width: 100%;
  margin: 40px 0;
  gap: 40px;
}

.chart,
.charts > * {
  aspect-ratio: 4 / 3;
  max-width: calc(var(--section) / 2);
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
}

.tippy-box {
  max-width: 400px !important;
  padding: 5px;
  background: var(--off-black);
  box-shadow: var(--shadow);
  color: var(--white);
  font: inherit;
}

.tippy-arrow {
  color: var(--off-black);
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

/** scrollbar */

:not(html) ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background-color: var(--off-white);
}

:not(html) ::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: var(--gray);
}
